@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Medium.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Neue Montreal";
  background: #0f0f0f;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.links {
  display: flex;
  gap: 3em;
}

a {
  text-decoration: none;
  color: #a9a9a9;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}

h1 {
  width: 100%;
  color: #7c7c7c;
  font-size: 15vw;
  font-weight: 400;
  letter-spacing: -0.05em;
}

p {
  font-size: 1.5vw;
  color: #3d3d3d;
}

.btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0084ff;
  color: #fff;
  font-size: 12px;
  border-radius: 30px;
  padding: 1em 2em;
  cursor: pointer;
  z-index: 2;
}

.img-gallery-container {
  width: 100vw;
  padding-top: 100vh;
}

.img {
  position: relative;
  margin-bottom: 1em;
  width: 400px;
  height: 500px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img:nth-child(1),
.img:nth-child(3),
.img:nth-child(5) {
  left: 75%;
}

.img:nth-child(2),
.img:nth-child(4),
.img:nth-child(6) {
  left: 25%;
}

.img.reorder {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
}

.img.reorder:nth-child(1) {
  transform: translate(-50%, -50%) rotate(10deg);
}

.img.reorder:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-5deg);
}

.img.reorder:nth-child(3) {
  transform: translate(-50%, -50%) rotate(2deg);
}

.img.reorder:nth-child(4) {
  transform: translate(-50%, -50%) rotate(-2deg);
}

.img.reorder:nth-child(5) {
  transform: translate(-50%, -50%) rotate(5deg);;
}

.img.reorder:nth-child(6) {
  transform: translate(-50%, -50%) rotate(2deg);;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== NAV ===============*/
.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}

.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

.nav__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.link:hover{
  color: var(--first-color);
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: var(--first-color);
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

